body {
    max-width: 100%;
    overflow-x: hidden;
}

.nes-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nes-last-card-image {
    max-height: 13vw;
    margin: 0 auto;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.nes-last-card-image:hover {
    opacity: .5;
}

.nes-card-image-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: white;
    opacity: 1;
}

.nes-is-hidden {
    display: none !important;
}

.nes-card-item {
    margin-top: 2vw !important;
}

.is-nes-card-icon {
    position: absolute !important;
    top: 45%;
    left: 45%;
    z-index: 10;
}

.nes-radio:checked + span::before {
    color: white !important;
}

.nes-language {
    position: absolute;
    top: 13vw;
    left: 5vw;
    color: white;
}

.nes-language > label {
    display: block;
}

.nes-language-flag {
    max-height: 2vw;
}

.nes-theme-button {
    position: absolute;
    left: 60vw;
    top: 2vw;
}

.nes-card-image {
    display: block;
    max-height: 26vw;
    opacity: 1;
    left: 20%;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.nes-card-image:hover {
    opacity: .5;
}

.nes-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-family: 'Press Start 2P', serif;
    background-color: #212529;
}

.nes-header > .container {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nes-header > .container > .nes-badge {
    margin-right: 4vw;
}

.has-background-white {
    background-color: white;
}

a > .nes-badge {
    margin-right: 4vw;
    width: 12vw;
}

.nes-is-dark-inverted {
    position: absolute;
    font-size: 1.1vw;
    top: 0;
    background-color: white;
    box-shadow: 0 0.5em white, 0 -0.5em white, 0.5em 0 white, -0.5em 0 white;
    width: 11vw;
    text-align: center;
    color: #212529;
}

.nes-logo-header {
    position: relative;
    right: 5%;
    width: auto;
    height: 5vw;
    border-radius: 100px;
    margin-right: 4%;
    border: white 3px solid;
}

.nes-layout {
    font-size: 1.38vw;
}

.nes-layout > .gap-header > .container {
    max-width: 80vw;
    padding-left: 86px;
    padding-right: 86px;
    margin: 3vw auto;
}

.nes-balloon > :last-child {
    font-size: 1.38vw;
}


.gap-header {
    padding-top: 6.2vw;
}

.nes-btn:hover {
    color: #212529;
    text-decoration: none;
}

.nes-hero-fullheight {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.nes-hero-fullheight.is-dark {
    background-color: #212529;
}

.nes-hero-body {
    align-items: center;
    display: flex;
}

.nes-hero-fullheight.is-dark > .nes-hero-body {
    color: white;
}

.nes-hero-container {
    padding-top: 16vw;
    margin-left: 10vh;
}

.nes-hero-container > .nes-title {
    font-size: 2vw;
    margin-bottom: 1vh;
}

.nes-hero-container > .nes-subtitle {
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

.nes-hello {
    position: absolute;
    top: 8vw;
    left: 25vw;
    width: 25vw;
}

.nes-footer {
    position: fixed;
    bottom: -5px;
    width: 90vw;
}

.nes-progress {
    background-color: transparent;
}

progress[value] {
    -webkit-appearance: none;
    -webkit-transition : width 5s ease;
    -moz-transition : width 5s ease;
    -o-transition : width 5s ease;
    transition : width 5s ease;
    width: 100vw;
    height: 2vw;
}

progress[value]::-webkit-progress-bar {
    background-color: transparent;
}

progress[value]::-webkit-progress-value {
    background-color: #212529;
}

@media screen and (max-width: 640px) {
    .nes-hello {
        padding-top: 10vw;
    }
  }

.message-list > .message {
    display: flex;
    align-items: flex-end;
    margin-top: 1.2vw;
}

.message-list > .message.-right i {
    margin-left: 2rem;
}

.message-list > .message.-left i {
    margin-right: 2rem;
}

.nes-charmander {
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.nes-charmander.is-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

#ash {
    width: 104px;
    height: 128px;
    position: relative;
}

#ash::after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    left: -8px;
    position: absolute;
}

#ash::after {
    -webkit-animation: ash-frames 0.4s steps(1) infinite;
    animation: ash-frames 0.4s steps(1) infinite;
}

@-webkit-keyframes ash-frames {
    0% {
        box-shadow: 32px 8px #181818, 40px 8px #181818, 48px 8px #181818, 56px 8px #181818, 64px 8px #181818, 72px 8px #181818, 24px 16px #181818, 32px 16px #e31613, 40px 16px #e31613, 48px 16px #e31613, 56px 16px #e31613, 64px 16px #e31613, 72px 16px #e31613, 80px 16px #181818, 16px 24px #181818, 24px 24px #e31613, 32px 24px #e31613, 40px 24px #e31613, 48px 24px #e31613, 56px 24px #e31613, 64px 24px #e31613, 72px 24px #e31613, 80px 24px #e31613, 88px 24px #181818, 16px 32px #181818, 24px 32px #e31613, 32px 32px #e31613, 40px 32px #e31613, 48px 32px #e31613, 56px 32px #e31613, 64px 32px #e31613, 72px 32px #e31613, 80px 32px #f7f7f7, 88px 32px #181818, 96px 32px #181818, 8px 40px #181818, 16px 40px #181818, 24px 40px #181818, 32px 40px #e31613, 40px 40px #e31613, 48px 40px #e31613, 56px 40px #e31613, 64px 40px #e31613, 72px 40px #f7f7f7, 80px 40px #f7f7f7, 88px 40px #f7f7f7, 96px 40px #f7f7f7, 104px 40px #181818, 8px 48px #181818, 16px 48px #181818, 24px 48px #181818, 32px 48px #181818, 40px 48px #181818, 48px 48px #181818, 56px 48px #181818, 64px 48px #e31613, 72px 48px #e31613, 80px 48px #e31613, 88px 48px #181818, 96px 48px #181818, 8px 56px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #181818, 40px 56px #181818, 48px 56px #181818, 56px 56px #f0c3aa, 64px 56px #f0c3aa, 72px 56px #181818, 80px 56px #f0c3aa, 88px 56px #181818, 16px 64px #181818, 24px 64px #181818, 32px 64px #f0c3aa, 40px 64px #f0c3aa, 48px 64px #181818, 56px 64px #f0c3aa, 64px 64px #f0c3aa, 72px 64px #181818, 80px 64px #f0c3aa, 88px 64px #181818, 24px 72px #181818, 32px 72px #f0c3aa, 40px 72px #f0c3aa, 48px 72px #f0c3aa, 56px 72px #f0c3aa, 64px 72px #f0c3aa, 72px 72px #f0c3aa, 80px 72px #f0c3aa, 88px 72px #181818, 16px 80px #181818, 24px 80px #037efb, 32px 80px #181818, 40px 80px #181818, 48px 80px #f0c3aa, 56px 80px #f0c3aa, 64px 80px #f0c3aa, 72px 80px #f0c3aa, 80px 80px #181818, 16px 88px #181818, 24px 88px #037efb, 32px 88px #181818, 40px 88px #181818, 48px 88px #181818, 56px 88px #181818, 64px 88px #181818, 72px 88px #181818, 16px 96px #181818, 24px 96px #181818, 32px 96px #f0c3aa, 40px 96px #f0c3aa, 48px 96px #181818, 56px 96px #181818, 64px 96px #181818, 72px 96px #181818, 80px 96px #181818, 88px 96px #181818, 8px 104px #181818, 16px 104px #ffffff, 24px 104px #181818, 32px 104px #f0c3aa, 40px 104px #f0c3aa, 48px 104px #181818, 56px 104px #ffffff, 64px 104px #ffffff, 72px 104px #181818, 80px 104px #ffffff, 88px 104px #ffffff, 96px 104px #181818, 8px 112px #181818, 16px 112px #ffffff, 24px 112px #ffffff, 32px 112px #181818, 40px 112px #181818, 48px 112px #181818, 56px 112px #181818, 64px 112px #181818, 72px 112px #ffffff, 80px 112px #ffffff, 88px 112px #181818, 16px 120px #181818, 24px 120px #181818, 64px 120px #181818, 72px 120px #181818, 80px 120px #181818;
    }
    50% {
        box-shadow: 32px 0 #181818, 40px 0 #181818, 48px 0 #181818, 56px 0 #181818, 64px 0 #181818, 72px 0 #181818, 24px 8px #181818, 32px 8px #e31613, 40px 8px #e31613, 48px 8px #e31613, 56px 8px #e31613, 64px 8px #e31613, 72px 8px #e31613, 80px 8px #181818, 16px 16px #181818, 24px 16px #e31613, 32px 16px #e31613, 40px 16px #e31613, 48px 16px #e31613, 56px 16px #e31613, 64px 16px #e31613, 72px 16px #e31613, 80px 16px #e31613, 88px 16px #181818, 16px 24px #181818, 24px 24px #e31613, 32px 24px #e31613, 40px 24px #e31613, 48px 24px #e31613, 56px 24px #e31613, 64px 24px #e31613, 72px 24px #e31613, 80px 24px #f7f7f7, 88px 24px #181818, 96px 24px #181818, 8px 32px #181818, 16px 32px #181818, 24px 32px #181818, 32px 32px #e31613, 40px 32px #e31613, 48px 32px #e31613, 56px 32px #e31613, 64px 32px #e31613, 72px 32px #f7f7f7, 80px 32px #f7f7f7, 88px 32px #f7f7f7, 96px 32px #f7f7f7, 104px 32px #181818, 8px 40px #181818, 16px 40px #181818, 24px 40px #181818, 32px 40px #181818, 40px 40px #181818, 48px 40px #181818, 56px 40px #181818, 64px 40px #e31613, 72px 40px #e31613, 80px 40px #e31613, 88px 40px #181818, 96px 40px #181818, 8px 48px #181818, 16px 48px #181818, 24px 48px #181818, 32px 48px #181818, 40px 48px #181818, 48px 48px #181818, 56px 48px #f0c3aa, 64px 48px #f0c3aa, 72px 48px #181818, 80px 48px #f0c3aa, 88px 48px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #f0c3aa, 40px 56px #f0c3aa, 48px 56px #181818, 56px 56px #f0c3aa, 64px 56px #f0c3aa, 72px 56px #181818, 80px 56px #f0c3aa, 88px 56px #181818, 24px 64px #181818, 32px 64px #f0c3aa, 40px 64px #f0c3aa, 48px 64px #f0c3aa, 56px 64px #f0c3aa, 64px 64px #f0c3aa, 72px 64px #f0c3aa, 80px 64px #f0c3aa, 88px 64px #181818, 16px 72px #181818, 24px 72px #037efb, 32px 72px #181818, 40px 72px #181818, 48px 72px #f0c3aa, 56px 72px #f0c3aa, 64px 72px #f0c3aa, 72px 72px #f0c3aa, 80px 72px #181818, 16px 80px #181818, 24px 80px #037efb, 32px 80px #037efb, 40px 80px #181818, 48px 80px #181818, 56px 80px #181818, 64px 80px #181818, 72px 80px #181818, 16px 88px #181818, 24px 88px #037efb, 32px 88px #181818, 40px 88px #f0c3aa, 48px 88px #f0c3aa, 56px 88px #181818, 64px 88px #181818, 16px 96px #181818, 24px 96px #037efb, 32px 96px #181818, 40px 96px #f0c3aa, 48px 96px #f0c3aa, 56px 96px #181818, 64px 96px #181818, 24px 104px #181818, 32px 104px #181818, 40px 104px #181818, 48px 104px #181818, 56px 104px #ffffff, 64px 104px #ffffff, 72px 104px #181818, 32px 112px #181818, 40px 112px #ffffff, 48px 112px #ffffff, 56px 112px #ffffff, 64px 112px #ffffff, 72px 112px #181818, 40px 120px #181818, 48px 120px #181818, 56px 120px #181818, 64px 120px #181818;
    }
}

@keyframes ash-frames {
    0% {
        box-shadow: 32px 8px #181818, 40px 8px #181818, 48px 8px #181818, 56px 8px #181818, 64px 8px #181818, 72px 8px #181818, 24px 16px #181818, 32px 16px #e31613, 40px 16px #e31613, 48px 16px #e31613, 56px 16px #e31613, 64px 16px #e31613, 72px 16px #e31613, 80px 16px #181818, 16px 24px #181818, 24px 24px #e31613, 32px 24px #e31613, 40px 24px #e31613, 48px 24px #e31613, 56px 24px #e31613, 64px 24px #e31613, 72px 24px #e31613, 80px 24px #e31613, 88px 24px #181818, 16px 32px #181818, 24px 32px #e31613, 32px 32px #e31613, 40px 32px #e31613, 48px 32px #e31613, 56px 32px #e31613, 64px 32px #e31613, 72px 32px #e31613, 80px 32px #f7f7f7, 88px 32px #181818, 96px 32px #181818, 8px 40px #181818, 16px 40px #181818, 24px 40px #181818, 32px 40px #e31613, 40px 40px #e31613, 48px 40px #e31613, 56px 40px #e31613, 64px 40px #e31613, 72px 40px #f7f7f7, 80px 40px #f7f7f7, 88px 40px #f7f7f7, 96px 40px #f7f7f7, 104px 40px #181818, 8px 48px #181818, 16px 48px #181818, 24px 48px #181818, 32px 48px #181818, 40px 48px #181818, 48px 48px #181818, 56px 48px #181818, 64px 48px #e31613, 72px 48px #e31613, 80px 48px #e31613, 88px 48px #181818, 96px 48px #181818, 8px 56px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #181818, 40px 56px #181818, 48px 56px #181818, 56px 56px #f0c3aa, 64px 56px #f0c3aa, 72px 56px #181818, 80px 56px #f0c3aa, 88px 56px #181818, 16px 64px #181818, 24px 64px #181818, 32px 64px #f0c3aa, 40px 64px #f0c3aa, 48px 64px #181818, 56px 64px #f0c3aa, 64px 64px #f0c3aa, 72px 64px #181818, 80px 64px #f0c3aa, 88px 64px #181818, 24px 72px #181818, 32px 72px #f0c3aa, 40px 72px #f0c3aa, 48px 72px #f0c3aa, 56px 72px #f0c3aa, 64px 72px #f0c3aa, 72px 72px #f0c3aa, 80px 72px #f0c3aa, 88px 72px #181818, 16px 80px #181818, 24px 80px #037efb, 32px 80px #181818, 40px 80px #181818, 48px 80px #f0c3aa, 56px 80px #f0c3aa, 64px 80px #f0c3aa, 72px 80px #f0c3aa, 80px 80px #181818, 16px 88px #181818, 24px 88px #037efb, 32px 88px #181818, 40px 88px #181818, 48px 88px #181818, 56px 88px #181818, 64px 88px #181818, 72px 88px #181818, 16px 96px #181818, 24px 96px #181818, 32px 96px #f0c3aa, 40px 96px #f0c3aa, 48px 96px #181818, 56px 96px #181818, 64px 96px #181818, 72px 96px #181818, 80px 96px #181818, 88px 96px #181818, 8px 104px #181818, 16px 104px #ffffff, 24px 104px #181818, 32px 104px #f0c3aa, 40px 104px #f0c3aa, 48px 104px #181818, 56px 104px #ffffff, 64px 104px #ffffff, 72px 104px #181818, 80px 104px #ffffff, 88px 104px #ffffff, 96px 104px #181818, 8px 112px #181818, 16px 112px #ffffff, 24px 112px #ffffff, 32px 112px #181818, 40px 112px #181818, 48px 112px #181818, 56px 112px #181818, 64px 112px #181818, 72px 112px #ffffff, 80px 112px #ffffff, 88px 112px #181818, 16px 120px #181818, 24px 120px #181818, 64px 120px #181818, 72px 120px #181818, 80px 120px #181818;
    }
    50% {
        box-shadow: 32px 0 #181818, 40px 0 #181818, 48px 0 #181818, 56px 0 #181818, 64px 0 #181818, 72px 0 #181818, 24px 8px #181818, 32px 8px #e31613, 40px 8px #e31613, 48px 8px #e31613, 56px 8px #e31613, 64px 8px #e31613, 72px 8px #e31613, 80px 8px #181818, 16px 16px #181818, 24px 16px #e31613, 32px 16px #e31613, 40px 16px #e31613, 48px 16px #e31613, 56px 16px #e31613, 64px 16px #e31613, 72px 16px #e31613, 80px 16px #e31613, 88px 16px #181818, 16px 24px #181818, 24px 24px #e31613, 32px 24px #e31613, 40px 24px #e31613, 48px 24px #e31613, 56px 24px #e31613, 64px 24px #e31613, 72px 24px #e31613, 80px 24px #f7f7f7, 88px 24px #181818, 96px 24px #181818, 8px 32px #181818, 16px 32px #181818, 24px 32px #181818, 32px 32px #e31613, 40px 32px #e31613, 48px 32px #e31613, 56px 32px #e31613, 64px 32px #e31613, 72px 32px #f7f7f7, 80px 32px #f7f7f7, 88px 32px #f7f7f7, 96px 32px #f7f7f7, 104px 32px #181818, 8px 40px #181818, 16px 40px #181818, 24px 40px #181818, 32px 40px #181818, 40px 40px #181818, 48px 40px #181818, 56px 40px #181818, 64px 40px #e31613, 72px 40px #e31613, 80px 40px #e31613, 88px 40px #181818, 96px 40px #181818, 8px 48px #181818, 16px 48px #181818, 24px 48px #181818, 32px 48px #181818, 40px 48px #181818, 48px 48px #181818, 56px 48px #f0c3aa, 64px 48px #f0c3aa, 72px 48px #181818, 80px 48px #f0c3aa, 88px 48px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #f0c3aa, 40px 56px #f0c3aa, 48px 56px #181818, 56px 56px #f0c3aa, 64px 56px #f0c3aa, 72px 56px #181818, 80px 56px #f0c3aa, 88px 56px #181818, 24px 64px #181818, 32px 64px #f0c3aa, 40px 64px #f0c3aa, 48px 64px #f0c3aa, 56px 64px #f0c3aa, 64px 64px #f0c3aa, 72px 64px #f0c3aa, 80px 64px #f0c3aa, 88px 64px #181818, 16px 72px #181818, 24px 72px #037efb, 32px 72px #181818, 40px 72px #181818, 48px 72px #f0c3aa, 56px 72px #f0c3aa, 64px 72px #f0c3aa, 72px 72px #f0c3aa, 80px 72px #181818, 16px 80px #181818, 24px 80px #037efb, 32px 80px #037efb, 40px 80px #181818, 48px 80px #181818, 56px 80px #181818, 64px 80px #181818, 72px 80px #181818, 16px 88px #181818, 24px 88px #037efb, 32px 88px #181818, 40px 88px #f0c3aa, 48px 88px #f0c3aa, 56px 88px #181818, 64px 88px #181818, 16px 96px #181818, 24px 96px #037efb, 32px 96px #181818, 40px 96px #f0c3aa, 48px 96px #f0c3aa, 56px 96px #181818, 64px 96px #181818, 24px 104px #181818, 32px 104px #181818, 40px 104px #181818, 48px 104px #181818, 56px 104px #ffffff, 64px 104px #ffffff, 72px 104px #181818, 32px 112px #181818, 40px 112px #ffffff, 48px 112px #ffffff, 56px 112px #ffffff, 64px 112px #ffffff, 72px 112px #181818, 40px 120px #181818, 48px 120px #181818, 56px 120px #181818, 64px 120px #181818;
    }
}

#pikachu {
    width: 120px;
    height: 128px;
    position: relative;
}

#pikachu::after {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    left: -8px;
    position: absolute;
}

#pikachu::after {
    -webkit-animation: pikachu-frames 0.2s steps(1) infinite;
    animation: pikachu-frames 0.2s steps(1) infinite;
}

@-webkit-keyframes pikachu-frames {
    0% {
        box-shadow: 40px 8px #181818, 48px 8px #181818, 8px 16px #181818, 16px 16px #181818, 24px 16px #181818, 32px 16px #181818, 40px 16px #181818, 48px 16px #181818, 56px 16px #181818, 64px 16px #181818, 72px 16px #181818, 8px 24px #181818, 16px 24px #fefe00, 24px 24px #fefe00, 32px 24px #fefe00, 40px 24px #181818, 48px 24px #181818, 56px 24px #181818, 64px 24px #fefe00, 72px 24px #fefe00, 80px 24px #181818, 88px 24px #181818, 96px 24px #181818, 16px 32px #181818, 24px 32px #fefe00, 32px 32px #fefe00, 40px 32px #fefe00, 48px 32px #181818, 56px 32px #fefe00, 64px 32px #fefe00, 72px 32px #fefe00, 80px 32px #fefe00, 88px 32px #fefe00, 96px 32px #fefe00, 104px 32px #181818, 24px 40px #181818, 32px 40px #fefe00, 40px 40px #fefe00, 48px 40px #181818, 56px 40px #181818, 64px 40px #fefe00, 72px 40px #fefe00, 80px 40px #fefe00, 88px 40px #fefe00, 96px 40px #fefe00, 104px 40px #fefe00, 112px 40px #181818, 32px 48px #181818, 40px 48px #fefe00, 48px 48px #fefe00, 56px 48px #181818, 64px 48px #fefe00, 72px 48px #fefe00, 80px 48px #fefe00, 88px 48px #fefe00, 96px 48px #fefe00, 104px 48px #fefe00, 112px 48px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #181818, 40px 56px #fefe00, 48px 56px #181818, 56px 56px #fefe00, 64px 56px #fefe00, 72px 56px #fefe00, 80px 56px #fefe00, 88px 56px #fefe00, 96px 56px #181818, 104px 56px #fefe00, 112px 56px #fefe00, 120px 56px #181818, 16px 64px #181818, 24px 64px #fefe00, 32px 64px #fefe00, 40px 64px #181818, 48px 64px #181818, 56px 64px #fefe00, 64px 64px #fefe00, 72px 64px #fefe00, 80px 64px #fe4100, 88px 64px #fefe00, 96px 64px #fefe00, 104px 64px #fefe00, 112px 64px #fefe00, 120px 64px #181818, 24px 72px #181818, 32px 72px #823e00, 40px 72px #181818, 48px 72px #823e00, 56px 72px #823e00, 64px 72px #823e00, 72px 72px #fefe00, 80px 72px #fefe00, 88px 72px #fefe00, 96px 72px #fefe00, 104px 72px #fefe00, 112px 72px #181818, 16px 80px #181818, 24px 80px #823e00, 32px 80px #823e00, 40px 80px #181818, 48px 80px #fefe00, 56px 80px #fefe00, 64px 80px #fefe00, 72px 80px #fefe00, 80px 80px #fefe00, 88px 80px #fefe00, 96px 80px #181818, 104px 80px #fefe00, 112px 80px #181818, 24px 88px #181818, 32px 88px #823e00, 40px 88px #181818, 48px 88px #823e00, 56px 88px #823e00, 64px 88px #823e00, 72px 88px #fefe00, 80px 88px #fefe00, 88px 88px #181818, 96px 88px #181818, 104px 88px #fefe00, 112px 88px #181818, 32px 96px #181818, 40px 96px #181818, 48px 96px #181818, 56px 96px #fefe00, 64px 96px #fefe00, 72px 96px #fefe00, 80px 96px #fefe00, 88px 96px #fefe00, 96px 96px #fefe00, 104px 96px #181818, 112px 96px #181818, 32px 104px #181818, 40px 104px #fefe00, 48px 104px #181818, 56px 104px #181818, 64px 104px #fefe00, 72px 104px #fefe00, 80px 104px #fefe00, 88px 104px #fefe00, 96px 104px #181818, 104px 104px #fefe00, 112px 104px #fefe00, 120px 104px #181818, 40px 112px #181818, 48px 112px #fefe00, 56px 112px #fefe00, 64px 112px #181818, 72px 112px #181818, 80px 112px #181818, 88px 112px #181818, 104px 112px #181818, 112px 112px #181818, 48px 120px #181818, 56px 120px #181818;
    }
    50% {
        box-shadow: 40px 16px #181818, 48px 16px #181818, 8px 24px #181818, 16px 24px #181818, 24px 24px #181818, 32px 24px #181818, 40px 24px #181818, 48px 24px #181818, 56px 24px #181818, 64px 24px #181818, 72px 24px #181818, 8px 32px #181818, 16px 32px #fefe00, 24px 32px #fefe00, 32px 32px #fefe00, 40px 32px #181818, 48px 32px #181818, 56px 32px #181818, 64px 32px #fefe00, 72px 32px #fefe00, 80px 32px #181818, 88px 32px #181818, 96px 32px #181818, 16px 40px #181818, 24px 40px #fefe00, 32px 40px #fefe00, 40px 40px #fefe00, 48px 40px #181818, 56px 40px #fefe00, 64px 40px #fefe00, 72px 40px #fefe00, 80px 40px #fefe00, 88px 40px #fefe00, 96px 40px #fefe00, 104px 40px #181818, 24px 48px #181818, 32px 48px #fefe00, 40px 48px #fefe00, 48px 48px #181818, 56px 48px #181818, 64px 48px #fefe00, 72px 48px #fefe00, 80px 48px #fefe00, 88px 48px #fefe00, 96px 48px #fefe00, 104px 48px #fefe00, 112px 48px #181818, 32px 56px #181818, 40px 56px #fefe00, 48px 56px #fefe00, 56px 56px #181818, 64px 56px #fefe00, 72px 56px #fefe00, 80px 56px #fefe00, 88px 56px #fefe00, 96px 56px #fefe00, 104px 56px #fefe00, 112px 56px #181818, 16px 64px #181818, 24px 64px #181818, 32px 64px #181818, 40px 64px #fefe00, 48px 64px #181818, 56px 64px #fefe00, 64px 64px #fefe00, 72px 64px #fefe00, 80px 64px #fefe00, 88px 64px #fefe00, 96px 64px #181818, 104px 64px #fefe00, 112px 64px #fefe00, 120px 64px #181818, 16px 72px #181818, 24px 72px #fefe00, 32px 72px #fefe00, 40px 72px #fefe00, 48px 72px #181818, 56px 72px #fefe00, 64px 72px #fefe00, 72px 72px #fefe00, 80px 72px #fe4100, 88px 72px #fefe00, 96px 72px #fefe00, 104px 72px #fefe00, 112px 72px #fefe00, 120px 72px #181818, 24px 80px #181818, 32px 80px #823e00, 40px 80px #181818, 48px 80px #823e00, 56px 80px #823e00, 64px 80px #823e00, 72px 80px #fefe00, 80px 80px #fefe00, 88px 80px #fefe00, 96px 80px #fefe00, 104px 80px #fefe00, 112px 80px #181818, 16px 88px #181818, 24px 88px #823e00, 32px 88px #823e00, 40px 88px #181818, 48px 88px #fefe00, 56px 88px #fefe00, 64px 88px #fefe00, 72px 88px #fefe00, 80px 88px #fefe00, 88px 88px #fefe00, 96px 88px #181818, 104px 88px #fefe00, 112px 88px #181818, 24px 96px #181818, 32px 96px #823e00, 40px 96px #181818, 48px 96px #823e00, 56px 96px #823e00, 64px 96px #823e00, 72px 96px #fefe00, 80px 96px #fefe00, 88px 96px #181818, 96px 96px #181818, 104px 96px #fefe00, 112px 96px #181818, 32px 104px #181818, 40px 104px #181818, 48px 104px #181818, 56px 104px #fefe00, 64px 104px #fefe00, 72px 104px #fefe00, 80px 104px #fefe00, 88px 104px #fefe00, 96px 104px #fefe00, 104px 104px #fefe00, 112px 104px #181818, 56px 112px #181818, 64px 112px #181818, 72px 112px #fefe00, 80px 112px #fefe00, 88px 112px #fefe00, 96px 112px #181818, 104px 112px #181818, 72px 120px #181818, 80px 120px #181818, 88px 120px #181818;
    }
}

@keyframes pikachu-frames {
    0% {
        box-shadow: 40px 8px #181818, 48px 8px #181818, 8px 16px #181818, 16px 16px #181818, 24px 16px #181818, 32px 16px #181818, 40px 16px #181818, 48px 16px #181818, 56px 16px #181818, 64px 16px #181818, 72px 16px #181818, 8px 24px #181818, 16px 24px #fefe00, 24px 24px #fefe00, 32px 24px #fefe00, 40px 24px #181818, 48px 24px #181818, 56px 24px #181818, 64px 24px #fefe00, 72px 24px #fefe00, 80px 24px #181818, 88px 24px #181818, 96px 24px #181818, 16px 32px #181818, 24px 32px #fefe00, 32px 32px #fefe00, 40px 32px #fefe00, 48px 32px #181818, 56px 32px #fefe00, 64px 32px #fefe00, 72px 32px #fefe00, 80px 32px #fefe00, 88px 32px #fefe00, 96px 32px #fefe00, 104px 32px #181818, 24px 40px #181818, 32px 40px #fefe00, 40px 40px #fefe00, 48px 40px #181818, 56px 40px #181818, 64px 40px #fefe00, 72px 40px #fefe00, 80px 40px #fefe00, 88px 40px #fefe00, 96px 40px #fefe00, 104px 40px #fefe00, 112px 40px #181818, 32px 48px #181818, 40px 48px #fefe00, 48px 48px #fefe00, 56px 48px #181818, 64px 48px #fefe00, 72px 48px #fefe00, 80px 48px #fefe00, 88px 48px #fefe00, 96px 48px #fefe00, 104px 48px #fefe00, 112px 48px #181818, 16px 56px #181818, 24px 56px #181818, 32px 56px #181818, 40px 56px #fefe00, 48px 56px #181818, 56px 56px #fefe00, 64px 56px #fefe00, 72px 56px #fefe00, 80px 56px #fefe00, 88px 56px #fefe00, 96px 56px #181818, 104px 56px #fefe00, 112px 56px #fefe00, 120px 56px #181818, 16px 64px #181818, 24px 64px #fefe00, 32px 64px #fefe00, 40px 64px #181818, 48px 64px #181818, 56px 64px #fefe00, 64px 64px #fefe00, 72px 64px #fefe00, 80px 64px #fe4100, 88px 64px #fefe00, 96px 64px #fefe00, 104px 64px #fefe00, 112px 64px #fefe00, 120px 64px #181818, 24px 72px #181818, 32px 72px #823e00, 40px 72px #181818, 48px 72px #823e00, 56px 72px #823e00, 64px 72px #823e00, 72px 72px #fefe00, 80px 72px #fefe00, 88px 72px #fefe00, 96px 72px #fefe00, 104px 72px #fefe00, 112px 72px #181818, 16px 80px #181818, 24px 80px #823e00, 32px 80px #823e00, 40px 80px #181818, 48px 80px #fefe00, 56px 80px #fefe00, 64px 80px #fefe00, 72px 80px #fefe00, 80px 80px #fefe00, 88px 80px #fefe00, 96px 80px #181818, 104px 80px #fefe00, 112px 80px #181818, 24px 88px #181818, 32px 88px #823e00, 40px 88px #181818, 48px 88px #823e00, 56px 88px #823e00, 64px 88px #823e00, 72px 88px #fefe00, 80px 88px #fefe00, 88px 88px #181818, 96px 88px #181818, 104px 88px #fefe00, 112px 88px #181818, 32px 96px #181818, 40px 96px #181818, 48px 96px #181818, 56px 96px #fefe00, 64px 96px #fefe00, 72px 96px #fefe00, 80px 96px #fefe00, 88px 96px #fefe00, 96px 96px #fefe00, 104px 96px #181818, 112px 96px #181818, 32px 104px #181818, 40px 104px #fefe00, 48px 104px #181818, 56px 104px #181818, 64px 104px #fefe00, 72px 104px #fefe00, 80px 104px #fefe00, 88px 104px #fefe00, 96px 104px #181818, 104px 104px #fefe00, 112px 104px #fefe00, 120px 104px #181818, 40px 112px #181818, 48px 112px #fefe00, 56px 112px #fefe00, 64px 112px #181818, 72px 112px #181818, 80px 112px #181818, 88px 112px #181818, 104px 112px #181818, 112px 112px #181818, 48px 120px #181818, 56px 120px #181818;
    }
    50% {
        box-shadow: 40px 16px #181818, 48px 16px #181818, 8px 24px #181818, 16px 24px #181818, 24px 24px #181818, 32px 24px #181818, 40px 24px #181818, 48px 24px #181818, 56px 24px #181818, 64px 24px #181818, 72px 24px #181818, 8px 32px #181818, 16px 32px #fefe00, 24px 32px #fefe00, 32px 32px #fefe00, 40px 32px #181818, 48px 32px #181818, 56px 32px #181818, 64px 32px #fefe00, 72px 32px #fefe00, 80px 32px #181818, 88px 32px #181818, 96px 32px #181818, 16px 40px #181818, 24px 40px #fefe00, 32px 40px #fefe00, 40px 40px #fefe00, 48px 40px #181818, 56px 40px #fefe00, 64px 40px #fefe00, 72px 40px #fefe00, 80px 40px #fefe00, 88px 40px #fefe00, 96px 40px #fefe00, 104px 40px #181818, 24px 48px #181818, 32px 48px #fefe00, 40px 48px #fefe00, 48px 48px #181818, 56px 48px #181818, 64px 48px #fefe00, 72px 48px #fefe00, 80px 48px #fefe00, 88px 48px #fefe00, 96px 48px #fefe00, 104px 48px #fefe00, 112px 48px #181818, 32px 56px #181818, 40px 56px #fefe00, 48px 56px #fefe00, 56px 56px #181818, 64px 56px #fefe00, 72px 56px #fefe00, 80px 56px #fefe00, 88px 56px #fefe00, 96px 56px #fefe00, 104px 56px #fefe00, 112px 56px #181818, 16px 64px #181818, 24px 64px #181818, 32px 64px #181818, 40px 64px #fefe00, 48px 64px #181818, 56px 64px #fefe00, 64px 64px #fefe00, 72px 64px #fefe00, 80px 64px #fefe00, 88px 64px #fefe00, 96px 64px #181818, 104px 64px #fefe00, 112px 64px #fefe00, 120px 64px #181818, 16px 72px #181818, 24px 72px #fefe00, 32px 72px #fefe00, 40px 72px #fefe00, 48px 72px #181818, 56px 72px #fefe00, 64px 72px #fefe00, 72px 72px #fefe00, 80px 72px #fe4100, 88px 72px #fefe00, 96px 72px #fefe00, 104px 72px #fefe00, 112px 72px #fefe00, 120px 72px #181818, 24px 80px #181818, 32px 80px #823e00, 40px 80px #181818, 48px 80px #823e00, 56px 80px #823e00, 64px 80px #823e00, 72px 80px #fefe00, 80px 80px #fefe00, 88px 80px #fefe00, 96px 80px #fefe00, 104px 80px #fefe00, 112px 80px #181818, 16px 88px #181818, 24px 88px #823e00, 32px 88px #823e00, 40px 88px #181818, 48px 88px #fefe00, 56px 88px #fefe00, 64px 88px #fefe00, 72px 88px #fefe00, 80px 88px #fefe00, 88px 88px #fefe00, 96px 88px #181818, 104px 88px #fefe00, 112px 88px #181818, 24px 96px #181818, 32px 96px #823e00, 40px 96px #181818, 48px 96px #823e00, 56px 96px #823e00, 64px 96px #823e00, 72px 96px #fefe00, 80px 96px #fefe00, 88px 96px #181818, 96px 96px #181818, 104px 96px #fefe00, 112px 96px #181818, 32px 104px #181818, 40px 104px #181818, 48px 104px #181818, 56px 104px #fefe00, 64px 104px #fefe00, 72px 104px #fefe00, 80px 104px #fefe00, 88px 104px #fefe00, 96px 104px #fefe00, 104px 104px #fefe00, 112px 104px #181818, 56px 112px #181818, 64px 112px #181818, 72px 112px #fefe00, 80px 112px #fefe00, 88px 112px #fefe00, 96px 112px #181818, 104px 112px #181818, 72px 120px #181818, 80px 120px #181818, 88px 120px #181818;
    }
}

#ash, #pikachu {
    margin-right: 15vw;
}

.mario-content {
    height: 25%;
    position: absolute;
    width: 100%;
}

.mario-wrapper {
    position: absolute;
    bottom: 280px;
    left: 50%;
    width: 100px;
    height: 0;
    margin-left: -50px;
}

.floor {
    width: 120%;
    height: 200px;
    background-color: silver;
    background-image: linear-gradient(335deg, #BC4C2A 23px, transparent 23px),
    linear-gradient(155deg, #DC4C2A 23px, transparent 23px),
    linear-gradient(335deg, #BC4C2A 23px, transparent 23px),
    linear-gradient(155deg, #DC4C2A 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;;
    background-color: silver;
    background-image: linear-gradient(335deg, #BC4C2A 23px, transparent 23px),
    linear-gradient(155deg, #DC4C2A 23px, transparent 23px),
    linear-gradient(335deg, #BC4C2A 23px, transparent 23px),
    linear-gradient(155deg, #DC4C2A 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
    position: absolute;
    bottom: -30px;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    animation: floor-animate 1s linear infinite;
    -webkit-animation: floor-animate 1s linear infinite;
    -moz-animation: floor-animate 1s linear infinite;
}

.state1 {
    margin: 100px;
    width: 4px;
    height: 4px;
    background: #ff2d17;
    position: absolute;
    margin: 20px 0 0 40px;
    box-shadow: 3px 0 #ff2d17, 6px 0 #ff2d17, 9px 0 #ff2d17, 12px 0 #ff2d17, 15px 0 #ff2d17, 17px 0 #ff2d17, 0px 2px #ff2d17, 3px 2px #ff2d17, 6px 2px #ff2d17, 9px 2px #ff2d17, 12px 2px #FF2D17, 13px 2px #ff2d17, 14px 2px #ff8552, 17px 2px #FF8552, -8px 4px #ff2d17, -5px 4px #ff2d17, -2px 4px #ff2d17, 1px 4px #ff2d17, 4px 4px #ff2d17, 7px 4px #ff2d17, 10px 4px #ff2d17, 12px 4px #FF2D17, 15px 4px #FF8552, 17px 4px #FF8552, -8px 7px #FF2D17, -5px 7px #FF2D17, -2px 7px #FF2D17, 1px 7px #FF2D17, 4px 7px #FF2D17, 7px 7px #FF2D17, 10px 7px #FF2D17, -8px 7px #FF2D17, -12px 8px #FF2D17, -12px 8px #FF2D17, -9px 8px #FF2D17, -6px 8px #FF2D17, -3px 8px #FF2D17, 0px 8px #FF2D17, 3px 8px #FF2D17, 6px 8px #FF2D17, 9px 8px #FF2D17, 10px 8px #FF2D17, 11px 7px #FF8552, 12px 7px #FF8552, 15px 7px #FF8552, 17px 7px #FF8552, -12px 9px #FF2D17, -9px 9px #FF2D17, -6px 9px #FF2D17, -3px 9px #FF2D17, 0px 9px #FF2D17, 3px 9px #FF2D17, 6px 9px #FF2D17, 9px 9px #FF2D17, 10px 9px #FF2D17, 13px 8px #FF8552, 16px 8px #FF8552, 17px 8px #FF8552, -12px 12px #FF2D17, -9px 12px #FF2D17, -6px 12px #FF2D17, -3px 12px #FF2D17, 0px 12px #FF2D17, 3px 12px #FF2D17, 6px 12px #FF2D17, 9px 12px #FF2D17, 12px 12px #FF2D17, 15px 12px #FF2D17, 18px 12px #FF2D17, 21px 12px #FF2D17, 24px 12px #FF2D17, 27px 12px #FF2D17, 29px 12px #FF2D17, -12px 16px #bc5504, -8px 16px #bc5504, -4px 16px #bc5504, -4px 20px #bc5504, -4px 24px #bc5504, 0px 24px #bc5504, -4px 28px #bc5504, 0px 28px #bc5504, -16px 20px #bc5504, -16px 24px #bc5504, -16px 28px #bc5504, -20px 28px #bc5504, -20px 32px #bc5504, -16px 32px #bc5504, -16px 36px #bc5504, -12px 36px #bc5504, -8px 40px #bc5504, -8px 40px #bc5504, -12px 20px #ff8552, -12px 24px #ff8552, -12px 28px #ff8552, -12px 32px #ff8552, -8px 20px #ff8552, -8px 24px #ff8552, -8px 28px #ff8552, -8px 32px #FF8542, -8px 36px #ff8552, -4px 32px #ff8552, -4px 36px #ff8552, -4px 40px #ff8552, 0px 32px #ff8552, 0px 36px #ff8552, 0px 40px #ff8552, 0px 16px #ff8552, 0px 20px #ff8552, 4px 16px #ff8552, 4px 20px #ff8552, 4px 24px #ff8552, 4px 28px #ff8552, 4px 32px #ff8552, 4px 36px #ff8552, 4px 40px #ff8552, 4px 44px #ff8552, 8px 40px #ff8552, 8px 44px #ff8552, 12px 44px #ff8552, 12px 40px #ff8552, 16px 40px #ff8552, 20px 40px #ff8552, 24px 40px #ff8552, 8px 36px #ff8552, 8px 28px #ff8552, 8px 24px #ff8552, 12px 28px #ff8552, 12px 24px #ff8552, 16px 24px #ff8552, 16px 20px #ff8552, 16px 16px #ff8552, 12px 16px #ff8552, 20px 16px #ff8552, 20px 20px #ff8552, 24px 20px #ff8552, 28px 20px #ff8552, 20px 24px #ff8552, 20px 28px #ff8552, 24px 24px #ff8552, 24px 28px #ff8552, 28px 24px #ff8552, 28px 28px #ff8552, 32px 24px #ff8552, 32px 28px #ff8552, 28px 32px #bc5504, 28px 36px #bc5504, 24px 36px #bc5504, 20px 36px #bc5504, 16px 36px #bc5504, 12px 36px #BC5504, 24px 32px #bc5504, 20px 32px #bc5504, 16px 32px #bc5504, 16px 28px #bc5504, 12px 32px #bc5504, 8px 32px #bc5504, 8px 20px #bc5504, 12px 20px #bc5504, 8px 16px #bc5504, -8px 44px #ff2d17, -4px 44px #ff2d17, 0px 44px #ff2d17, 4px 48px #ff2d17, 8px 52px #ff2d17, 12px 56px #ff2d17, 16px 56px #ff2d17, -12px 56px #ff2d17, -12px 52px #ff2d17, -12px 48px #ff2d17, -12px 60px #ff2d17, -16px 60px #ff2d17, -16px 64px #ff2d17, -16px 68px #ff2d17, -16px 72px #ff2d17, -16px 76px #ff2d17, -16px 80px #ff2d17, -16px 84px #ff2d17, -12px 64px #ff2d17, -12px 68px #ff2d17, -12px 72px #ff2d17, -12px 76px #ff2d17, -12px 80px #ff2d17, -12px 84px #ff2d17, -12px 88px #ff2d17, -12px 92px #ff2d17, -12px 96px #ff2d17, -12px 100px #ff2d17, -8px 64px #ff2d17, -8px 68px #ff2d17, -8px 72px #ff2d17, -8px 76px #ff2d17, -8px 80px #ff2d17, -8px 84px #ff2d17, -8px 88px #ff2d17, -8px 92px #ff2d17, -8px 96px #ff2d17, -8px 100px #ff2d17, -4px 72px #ff2d17, -4px 76px #ff2d17, -4px 80px #ff2d17, -4px 84px #ff2d17, -4px 88px #ff2d17, -4px 92px #ff2d17, -4px 96px #ff2d17, -4px 100px #ff2d17, 0px 76px #ff2d17, 0px 80px #ff2d17, 0px 84px #ff2d17, 0px 88px #ff2d17, 0px 92px #ff2d17, 0px 96px #ff2d17, 4px 76px #ff2d17, 4px 80px #ff2d17, 4px 84px #ff2d17, 4px 88px #ff2d17, 4px 92px #ff2d17, 8px 80px #ff2d17, 8px 84px #ff2d17, 8px 88px #ff2d17, 12px 80px #ff2d17, 12px 84px #ff2d17, 12px 88px #ff2d17, 16px 80px #ff2d17, 16px 84px #ff2d17, 20px 80px #ff2d17, 20px 76px #ff2d17, 8px 96px #ff2d17, 8px 100px #ff2d17, 12px 96px #ff2d17, 12px 100px #ff2d17, 16px 96px #ff2d17, 16px 100px #ff2d17, 20px 96px #ff2d17, 20px 100px #ff2d17, 16px 92px #ff2d17, 20px 92px #ff2d17, 20px 88px #ff2d17, 24px 92px #ff2d17, 24px 88px #ff2d17, -12px 44px #bc5504, -16px 48px #bc5504, -16px 52px #bc5504, -16px 56px #bc5504, -20px 56px #bc5504, -20px 60px #bc5504, -20px 64px #bc5504, -8px 48px #bc5504, -4px 48px #bc5504, 0px 48px #bc5504, -8px 52px #bc5504, -4px 52px #bc5504, 0px 52px #bc5504, 4px 52px #bc5504, -8px 56px #bc5504, -4px 56px #bc5504, 0px 56px #bc5504, 4px 56px #bc5504, 8px 56px #bc5504, -8px 60px #bc5504, -4px 60px #bc5504, 0px 60px #bc5504, 4px 60px #bc5504, 8px 60px #bc5504, 12px 60px #bc5504, 16px 60px #bc5504, -4px 64px #bc5504, 0px 64px #bc5504, 4px 64px #bc5504, 8px 64px #bc5504, 12px 64px #bc5504, 16px 64px #bc5504, -4px 68px #bc5504, 0px 68px #bc5504, 4px 68px #bc5504, 8px 68px #bc5504, 12px 68px #bc5504, 16px 68px #bc5504, 20px 68px #bc5504, 0px 72px #bc5504, 4px 72px #bc5504, 8px 72px #bc5504, 12px 72px #bc5504, 16px 72px #bc5504, 20px 72px #bc5504, 8px 76px #bc5504, 12px 76px #bc5504, 16px 76px #bc5504, 8px 48px #bc5504, 12px 52px #BC5504, 16px 88px #bc5504, 20px 84px #bc5504, 12px 92px #bc5504, 8px 92px #bc5504, 4px 96px #bc5504, -16px 88px #bc5504, -20px 88px #bc5504, -24px 88px #bc5504, -28px 88px #bc5504, -16px 92px #bc5504, -20px 92px #bc5504, -24px 92px #bc5504, -28px 92px #bc5504, -16px 96px #bc5504, -20px 96px #bc5504, -24px 96px #bc5504, -28px 96px #bc5504, -16px 100px #bc5504, -20px 100px #bc5504, -24px 100px #bc5504, -28px 100px #bc5504, -28px 104px #bc5504, -24px 104px #bc5504, -20px 104px #bc5504, -16px 104px #bc5504, -28px 108px #bc5504, -24px 108px #bc5504, -28px 112px #bc5504, 8px 104px #bc5504, 12px 104px #bc5504, 16px 104px #bc5504, 20px 104px #bc5504, 8px 108px #bc5504, 12px 108px #bc5504, 16px 108px #bc5504, 20px 108px #bc5504, 20px 112px #bc5504, 16px 112px #bc5504, 12px 112px #bc5504, 8px 112px #bc5504, 8px 116px #bc5504, 12px 116px #bc5504, 16px 116px #bc5504, 20px 116px #bc5504, 24px 116px #bc5504, 28px 116px #bc5504, 28px 112px #bc5504, 24px 112px #bc5504, 20px 56px #ff8552, 20px 64px #ff8552, 20px 60px #ff8552, 24px 56px #ff8552, 24px 60px #ff8552, 24px 64px #ff8552, 24px 68px #ff8552, 24px 72px #ff8552, 28px 60px #ff8552, 28px 64px #ff8552, 28px 68px #ff8552, 28px 72px #ff8552, 32px 60px #ff8552, 32px 64px #ff8552, 32px 68px #ff8552, 32px 72px #ff8552;
    animation: state1 0.3s linear infinite;
    -webkit-animation: state1 0.3s linear infinite;
    -moz-animation: state1 0.3s linear infinite;
}

.state2 {
    margin: 100px;
    width: 4px;
    height: 4px;
    background: #ff2d17;
    position: absolute;
    margin: 12px 0 0 37px;
    box-shadow: 3px 0 #ff2d17, 6px 0 #ff2d17, 9px 0 #ff2d17, 12px 0 #ff2d17, 15px 0 #ff2d17, 17px 0 #ff2d17, 0px 2px #ff2d17, 3px 2px #ff2d17, 6px 2px #ff2d17, 9px 2px #ff2d17, 12px 2px #FF2D17, 13px 2px #ff2d17, 14px 2px #ff8552, 17px 2px #FF8552, -8px 4px #ff2d17, -5px 4px #ff2d17, -2px 4px #ff2d17, 1px 4px #ff2d17, 4px 4px #ff2d17, 7px 4px #ff2d17, 10px 4px #ff2d17, 12px 4px #FF2D17, 15px 4px #FF8552, 17px 4px #FF8552, -8px 7px #FF2D17, -5px 7px #FF2D17, -2px 7px #FF2D17, 1px 7px #FF2D17, 4px 7px #FF2D17, 7px 7px #FF2D17, 10px 7px #FF2D17, -8px 7px #FF2D17, -12px 8px #FF2D17, -12px 8px #FF2D17, -9px 8px #FF2D17, -6px 8px #FF2D17, -3px 8px #FF2D17, 0px 8px #FF2D17, 3px 8px #FF2D17, 6px 8px #FF2D17, 9px 8px #FF2D17, 10px 8px #FF2D17, 11px 7px #FF8552, 12px 7px #FF8552, 15px 7px #FF8552, 17px 7px #FF8552, -12px 9px #FF2D17, -9px 9px #FF2D17, -6px 9px #FF2D17, -3px 9px #FF2D17, 0px 9px #FF2D17, 3px 9px #FF2D17, 6px 9px #FF2D17, 9px 9px #FF2D17, 10px 9px #FF2D17, 13px 8px #FF8552, 16px 8px #FF8552, 17px 8px #FF8552, -12px 12px #FF2D17, -9px 12px #FF2D17, -6px 12px #FF2D17, -3px 12px #FF2D17, 0px 12px #FF2D17, 3px 12px #FF2D17, 6px 12px #FF2D17, 9px 12px #FF2D17, 12px 12px #FF2D17, 15px 12px #FF2D17, 18px 12px #FF2D17, 21px 12px #FF2D17, 24px 12px #FF2D17, 27px 12px #FF2D17, 29px 12px #FF2D17, -12px 16px #bc5504, -8px 16px #bc5504, -4px 16px #bc5504, -4px 20px #bc5504, -4px 24px #bc5504, 0px 24px #bc5504, -4px 28px #bc5504, 0px 28px #bc5504, -16px 20px #bc5504, -16px 24px #bc5504, -16px 28px #bc5504, -20px 28px #bc5504, -20px 32px #bc5504, -16px 32px #bc5504, -16px 36px #bc5504, -12px 36px #bc5504, -8px 40px #bc5504, -8px 40px #bc5504, -12px 20px #ff8552, -12px 24px #ff8552, -12px 28px #ff8552, -12px 32px #ff8552, -8px 20px #ff8552, -8px 24px #ff8552, -8px 28px #ff8552, -8px 32px #FF8542, -8px 36px #ff8552, -4px 32px #ff8552, -4px 36px #ff8552, -4px 40px #ff8552, 0px 32px #ff8552, 0px 36px #ff8552, 0px 40px #ff8552, 0px 16px #ff8552, 0px 20px #ff8552, 4px 16px #ff8552, 4px 20px #ff8552, 4px 24px #ff8552, 4px 28px #ff8552, 4px 32px #ff8552, 4px 36px #ff8552, 4px 40px #ff8552, 4px 44px #ff8552, 8px 40px #ff8552, 8px 44px #ff8552, 12px 44px #ff8552, 12px 40px #ff8552, 16px 40px #ff8552, 20px 40px #ff8552, 24px 40px #ff8552, 8px 36px #ff8552, 8px 28px #ff8552, 8px 24px #ff8552, 12px 28px #ff8552, 12px 24px #ff8552, 16px 24px #ff8552, 16px 20px #ff8552, 16px 16px #ff8552, 12px 16px #ff8552, 20px 16px #ff8552, 20px 20px #ff8552, 24px 20px #ff8552, 28px 20px #ff8552, 20px 24px #ff8552, 20px 28px #ff8552, 24px 24px #ff8552, 24px 28px #ff8552, 28px 24px #ff8552, 28px 28px #ff8552, 32px 24px #ff8552, 32px 28px #ff8552, 28px 32px #bc5504, 28px 36px #bc5504, 24px 36px #bc5504, 20px 36px #bc5504, 16px 36px #bc5504, 12px 36px #BC5504, 24px 32px #bc5504, 20px 32px #bc5504, 16px 32px #bc5504, 16px 28px #bc5504, 12px 32px #bc5504, 8px 32px #bc5504, 8px 20px #bc5504, 12px 20px #bc5504, 8px 16px #bc5504, -20px 36px #bc5504, -12px 40px #bc5504, -4px 44px #bc5504, 0px 44px #bc5504, -12px 52px #bc5504, -8px 52px #bc5504, -4px 52px #bc5504, 0px 52px #bc5504, -16px 56px #bc5504, -12px 56px #bc5504, -8px 56px #bc5504, -4px 56px #bc5504, 0px 56px #bc5504, 4px 56px #bc5504, -20px 60px #bc5504, -16px 60px #bc5504, -12px 60px #bc5504, -8px 60px #bc5504, -4px 60px #bc5504, 0px 60px #bc5504, 4px 60px #bc5504, -20px 64px #bc5504, -16px 64px #bc5504, -12px 64px #bc5504, -8px 64px #bc5504, -4px 64px #bc5504, 0px 64px #bc5504, 4px 64px #bc5504, -20px 68px #bc5504, -16px 68px #bc5504, -12px 68px #bc5504, -8px 68px #bc5504, -4px 68px #bc5504, 0px 68px #bc5504, -24px 72px #bc5504, -20px 72px #bc5504, -16px 72px #bc5504, -12px 72px #bc5504, -8px 72px #bc5504, -4px 72px #bc5504, -24px 76px #bc5504, -20px 76px #bc5504, -16px 76px #bc5504, -12px 76px #bc5504, 8px 48px #bc5504, 12px 48px #bc5504, 12px 52px #bc5504, 16px 52px #bc5504, 16px 56px #bc5504, 16px 60px #bc5504, 20px 60px #bc5504, 20px 64px #bc5504, 16px 64px #bc5504, 20px 68px #bc5504, 16px 68px #bc5504, 20px 72px #bc5504, 24px 56px #bc5504, 28px 64px #bc5504, 28px 68px #bc5504, 28px 72px #bc5504, 32px 68px #bc5504, 36px 64px #bc5504, 36px 84px #bc5504, 36px 88px #bc5504, 36px 92px #bc5504, 36px 96px #bc5504, 36px 100px #bc5504, 36px 104px #bc5504, 36px 108px #bc5504, 32px 88px #bc5504, 32px 92px #bc5504, 32px 96px #bc5504, 32px 100px #bc5504, 32px 104px #bc5504, 32px 108px #bc5504, 28px 92px #bc5504, 28px 96px #bc5504, 28px 100px #bc5504, 28px 104px #bc5504, 28px 108px #bc5504, 24px 92px #bc5504, 24px 96px #bc5504, 24px 100px #bc5504, 24px 104px #bc5504, 24px 108px #bc5504, 20px 92px #bc5504, 20px 96px #bc5504, 20px 100px #bc5504, 20px 104px #bc5504, 20px 108px #bc5504, -16px 100px #bc5504, -16px 104px #bc5504, -12px 108px #bc5504, -8px 112px #bc5504, -24px 104px #bc5504, -20px 104px #bc5504, -24px 108px #bc5504, -20px 108px #bc5504, -16px 108px #bc5504, -24px 112px #bc5504, -20px 112px #bc5504, -16px 112px #bc5504, -12px 112px #bc5504, -20px 116px #bc5504, -16px 116px #bc5504, -12px 116px #bc5504, -20px 120px #bc5504, -16px 120px #bc5504, -12px 120px #bc5504, -16px 124px #bc5504, -12px 124px #bc5504, -8px 124px #bc5504, -8px 96px #bc5504, -4px 100px #bc5504, 0px 104px #bc5504, 4px 104px #bc5504, -8px 48px #ff2d17, -4px 48px #ff2d17, 0px 48px #ff2d17, 4px 48px #ff2d17, 4px 52px #ff2d17, 8px 52px #ff2d17, 16px 48px #ff2d17, 20px 52px #ff2d17, 20px 56px #ff2d17, 8px 56px #ff2d17, 12px 56px #ff2d17, 8px 60px #ff2d17, 12px 60px #ff2d17, 24px 60px #ff2d17, 8px 64px #ff2d17, 12px 64px #ff2d17, 24px 64px #ff2d17, 4px 68px #ff2d17, 8px 68px #ff2d17, 12px 68px #ff2d17, 24px 68px #ff2d17, 0px 72px #ff2d17, 4px 72px #ff2d17, 8px 72px #ff2d17, 16px 72px #ff2d17, -8px 76px #ff2d17, -4px 76px #ff2d17, 0px 76px #ff2d17, 4px 76px #ff2d17, 8px 76px #ff2d17, 12px 76px #ff2d17, 16px 76px #ff2d17, 20px 76px #ff2d17, 24px 76px #ff2d17, -4px 80px #ff2d17, 0px 80px #ff2d17, 4px 80px #ff2d17, 8px 80px #ff2d17, 16px 80px #ff2d17, 12px 80px #ff2d17, 20px 80px #ff2d17, 24px 80px #ff2d17, -4px 84px #ff2d17, 0px 84px #ff2d17, 4px 84px #ff2d17, 8px 84px #ff2d17, 12px 84px #ff2d17, 16px 84px #ff2d17, 20px 84px #ff2d17, 24px 84px #ff2d17, -8px 88px #ff2d17, -4px 88px #ff2d17, 0px 88px #ff2d17, 4px 88px #ff2d17, 8px 88px #ff2d17, 12px 88px #ff2d17, 16px 88px #ff2d17, 20px 88px #ff2d17, 24px 88px #ff2d17, -8px 92px #ff2d17, -4px 92px #ff2d17, 0px 92px #ff2d17, 4px 92px #ff2d17, 8px 92px #ff2d17, 12px 92px #ff2d17, 16px 92px #ff2d17, -4px 96px #ff2d17, 0px 96px #ff2d17, 4px 96px #ff2d17, 8px 96px #ff2d17, 12px 96px #ff2d17, 16px 96px #ff2d17, 0px 100px #ff2d17, 4px 100px #ff2d17, 8px 100px #ff2d17, 12px 100px #ff2d17, 16px 100px #ff2d17, 8px 104px #ff2d17, 12px 104px #ff2d17, 16px 104px #ff2d17, -12px 104px #ff2d17, -12px 100px #ff2d17, -12px 96px #ff2d17, -8px 100px #ff2d17, -8px 104px #ff2d17, -8px 108px #ff2d17, -4px 104px #ff2d17, -4px 108px #ff2d17, -4px 112px #ff2d17, 0px 108px #ff2d17, 4px 108px #ff2d17, -24px 80px #ff8552, -20px 80px #ff8552, -16px 80px #ff8552, -12px 80px #ff8552, -8px 80px #ff8552, -24px 84px #ff8552, -20px 84px #ff8552, -16px 84px #ff8552, -12px 84px #ff8552, -8px 84px #ff8552, -24px 88px #ff8552, -20px 88px #ff8552, -16px 88px #ff8552, -12px 88px #ff8552, -20px 92px #ff8552, -16px 92px #ff8552, -12px 92px #ff8552, 32px 48px #ff8552, 28px 52px #ff8552, 32px 52px #ff8552, 36px 52px #ff8552, 28px 56px #ff8552, 32px 56px #ff8552, 36px 56px #ff8552, 28px 60px #ff8552, 32px 60px #ff8552, 36px 60px #ff8552, 32px 64px #ff8552, 24px 72px #ff8552, 12px 72px #ff8552;
    opacity: 0;
    animation: state2 0.3s linear infinite;
    -webkit-animation: state2 0.3s linear infinite;
    -moz-animation: state2 0.3s linear infinite;
}

.state3 {
    margin: 100px;
    width: 4px;
    height: 4px;
    background: #ff2d17;
    position: absolute;
    margin: 16px 0 0 40px;
    box-shadow: 3px 0 #ff2d17, 6px 0 #ff2d17, 9px 0 #ff2d17, 12px 0 #ff2d17, 15px 0 #ff2d17, 17px 0 #ff2d17, 0px 2px #ff2d17, 3px 2px #ff2d17, 6px 2px #ff2d17, 9px 2px #ff2d17, 12px 2px #FF2D17, 13px 2px #ff2d17, 14px 2px #ff8552, 17px 2px #FF8552, -8px 4px #ff2d17, -5px 4px #ff2d17, -2px 4px #ff2d17, 1px 4px #ff2d17, 4px 4px #ff2d17, 7px 4px #ff2d17, 10px 4px #ff2d17, 12px 4px #FF2D17, 15px 4px #FF8552, 17px 4px #FF8552, -8px 7px #FF2D17, -5px 7px #FF2D17, -2px 7px #FF2D17, 1px 7px #FF2D17, 4px 7px #FF2D17, 7px 7px #FF2D17, 10px 7px #FF2D17, -8px 7px #FF2D17, -12px 8px #FF2D17, -12px 8px #FF2D17, -9px 8px #FF2D17, -6px 8px #FF2D17, -3px 8px #FF2D17, 0px 8px #FF2D17, 3px 8px #FF2D17, 6px 8px #FF2D17, 9px 8px #FF2D17, 10px 8px #FF2D17, 11px 7px #FF8552, 12px 7px #FF8552, 15px 7px #FF8552, 17px 7px #FF8552, -12px 9px #FF2D17, -9px 9px #FF2D17, -6px 9px #FF2D17, -3px 9px #FF2D17, 0px 9px #FF2D17, 3px 9px #FF2D17, 6px 9px #FF2D17, 9px 9px #FF2D17, 10px 9px #FF2D17, 13px 8px #FF8552, 16px 8px #FF8552, 17px 8px #FF8552, -12px 12px #FF2D17, -9px 12px #FF2D17, -6px 12px #FF2D17, -3px 12px #FF2D17, 0px 12px #FF2D17, 3px 12px #FF2D17, 6px 12px #FF2D17, 9px 12px #FF2D17, 12px 12px #FF2D17, 15px 12px #FF2D17, 18px 12px #FF2D17, 21px 12px #FF2D17, 24px 12px #FF2D17, 27px 12px #FF2D17, 29px 12px #FF2D17, -12px 16px #bc5504, -8px 16px #bc5504, -4px 16px #bc5504, -4px 20px #bc5504, -4px 24px #bc5504, 0px 24px #bc5504, -4px 28px #bc5504, 0px 28px #bc5504, -16px 20px #bc5504, -16px 24px #bc5504, -16px 28px #bc5504, -20px 28px #bc5504, -20px 32px #bc5504, -16px 32px #bc5504, -16px 36px #bc5504, -12px 36px #bc5504, -8px 40px #bc5504, -8px 40px #bc5504, -12px 20px #ff8552, -12px 24px #ff8552, -12px 28px #ff8552, -12px 32px #ff8552, -8px 20px #ff8552, -8px 24px #ff8552, -8px 28px #ff8552, -8px 32px #FF8542, -8px 36px #ff8552, -4px 32px #ff8552, -4px 36px #ff8552, -4px 40px #ff8552, 0px 32px #ff8552, 0px 36px #ff8552, 0px 40px #ff8552, 0px 16px #ff8552, 0px 20px #ff8552, 4px 16px #ff8552, 4px 20px #ff8552, 4px 24px #ff8552, 4px 28px #ff8552, 4px 32px #ff8552, 4px 36px #ff8552, 4px 40px #ff8552, 8px 40px #ff8552, 8px 44px #ff8552, 12px 44px #ff8552, 12px 40px #ff8552, 16px 40px #ff8552, 20px 40px #ff8552, 24px 40px #ff8552, 8px 36px #ff8552, 8px 28px #ff8552, 8px 24px #ff8552, 12px 28px #ff8552, 12px 24px #ff8552, 16px 24px #ff8552, 16px 20px #ff8552, 16px 16px #ff8552, 12px 16px #ff8552, 20px 16px #ff8552, 20px 20px #ff8552, 24px 20px #ff8552, 28px 20px #ff8552, 20px 24px #ff8552, 20px 28px #ff8552, 24px 24px #ff8552, 24px 28px #ff8552, 28px 24px #ff8552, 28px 28px #ff8552, 32px 24px #ff8552, 32px 28px #ff8552, 28px 32px #bc5504, 28px 36px #bc5504, 24px 36px #bc5504, 20px 36px #bc5504, 16px 36px #bc5504, 12px 36px #BC5504, 24px 32px #bc5504, 20px 32px #bc5504, 16px 32px #bc5504, 16px 28px #bc5504, 12px 32px #bc5504, 8px 32px #bc5504, 8px 20px #bc5504, 12px 20px #bc5504, 8px 16px #bc5504, -12px 40px #bc5504, -12px 48px #bc5504, -16px 52px #bc5504, -16px 56px #bc5504, -16px 60px #bc5504, -16px 64px #bc5504, -16px 68px #bc5504, -4px 48px #bc5504, 0px 48px #bc5504, 12px 48px #bc5504, 16px 48px #bc5504, -8px 52px #bc5504, -4px 52px #bc5504, 0px 52px #bc5504, 4px 52px #bc5504, 16px 52px #bc5504, -8px 56px #bc5504, -4px 56px #bc5504, 0px 56px #bc5504, 4px 56px #bc5504, 16px 56px #bc5504, 20px 56px #bc5504, -8px 60px #bc5504, -4px 60px #bc5504, 0px 60px #bc5504, 4px 60px #bc5504, 20px 60px #bc5504, -8px 64px #bc5504, -4px 64px #bc5504, 0px 64px #bc5504, 4px 64px #bc5504, 8px 64px #bc5504, 20px 64px #bc5504, -8px 68px #bc5504, -4px 68px #bc5504, 0px 68px #bc5504, 4px 68px #bc5504, -8px 72px #bc5504, -4px 72px #bc5504, 0px 72px #bc5504, 4px 72px #bc5504, -4px 76px #bc5504, 0px 76px #bc5504, 4px 76px #bc5504, 0px 80px #bc5504, 4px 80px #bc5504, 8px 84px #bc5504, 12px 84px #bc5504, 8px 88px #bc5504, 12px 88px #bc5504, 16px 88px #bc5504, 4px 92px #bc5504, 8px 92px #bc5504, 12px 92px #bc5504, 16px 92px #bc5504, 20px 92px #bc5504, 24px 92px #bc5504, 0px 96px #bc5504, 4px 96px #bc5504, 8px 96px #bc5504, 12px 96px #bc5504, 16px 96px #bc5504, 20px 96px #bc5504, 4px 100px #bc5504, 8px 100px #bc5504, 12px 100px #bc5504, 16px 100px #bc5504, 12px 104px #bc5504, 16px 104px #bc5504, 20px 104px #bc5504, -4px 104px #bc5504, -4px 108px #bc5504, 0px 108px #bc5504, 4px 108px #bc5504, 8px 108px #bc5504, 16px 108px #bc5504, 20px 108px #bc5504, -8px 112px #bc5504, -4px 112px #bc5504, 0px 112px #bc5504, 4px 112px #bc5504, 8px 112px #bc5504, -8px 116px #bc5504, -4px 116px #bc5504, 0px 116px #bc5504, 4px 116px #bc5504, 8px 116px #bc5504, 0px 120px #bc5504, 4px 120px #bc5504, 8px 120px #bc5504, 12px 120px #bc5504, 16px 120px #bc5504, 12px 116px #bc5504, 16px 116px #bc5504, -8px 44px #FF2D17, -4px 44px #FF2D17, 0px 44px #FF2D17, 4px 44px #FF2D17, -8px 48px #FF2D17, 4px 48px #FF2D17, 8px 48px #FF2D17, -12px 52px #FF2D17, 8px 52px #FF2D17, 12px 52px #FF2D17, -12px 56px #FF2D17, 8px 56px #FF2D17, 12px 56px #FF2D17, -12px 60px #FF2D17, 8px 60px #FF2D17, 12px 60px #FF2D17, 16px 60px #FF2D17, -12px 64px #FF2D17, -12px 68px #FF2D17, -16px 72px #FF2D17, -12px 72px #FF2D17, 24px 72px #FF2D17, -16px 76px #FF2D17, -12px 76px #FF2D17, -8px 76px #FF2D17, 24px 76px #FF2D17, 28px 76px #FF2D17, -16px 80px #FF2D17, -12px 80px #FF2D17, -8px 80px #FF2D17, -4px 80px #FF2D17, 20px 80px #FF2D17, 24px 80px #FF2D17, 28px 80px #FF2D17, -16px 84px #FF2D17, -12px 84px #FF2D17, -8px 84px #FF2D17, -4px 84px #FF2D17, 0px 84px #FF2D17, 4px 84px #FF2D17, 16px 84px #FF2D17, 20px 84px #FF2D17, 24px 84px #FF2D17, 28px 84px #FF2D17, -12px 88px #FF2D17, -8px 88px #FF2D17, -4px 88px #FF2D17, 0px 88px #FF2D17, 4px 88px #FF2D17, 20px 88px #FF2D17, 24px 88px #FF2D17, -8px 92px #FF2D17, -4px 92px #FF2D17, 0px 92px #FF2D17, -8px 96px #FF2D17, -4px 96px #FF2D17, -4px 100px #FF2D17, 0px 100px #FF2D17, 0px 104px #FF2D17, 4px 104px #FF2D17, 8px 104px #FF2D17, 12px 64px #ff8552, 16px 64px #ff8552, 12px 68px #ff8552, 8px 68px #ff8552, 16px 68px #ff8552, 20px 68px #ff8552, 8px 72px #ff8552, 12px 72px #ff8552, 16px 72px #ff8552, 20px 72px #ff8552, 8px 76px #ff8552, 12px 76px #ff8552, 16px 76px #ff8552, 20px 76px #ff8552, 8px 80px #ff8552, 12px 80px #ff8552, 16px 80px #ff8552;
    opacity: 0;
    animation: state3 0.3s linear infinite;
    -webkit-animation: state3 0.3s linear infinite;
    -moz-animation: state3 0.3s linear infinite;
}

@keyframes state1 {
    0% {
        opacity: 1;
    }
    32% {
        opacity: 1;
    }
    37% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes state3 {
    0% {
        opacity: 0;
    }
    32% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    63% {
        opacity: 1;
    }
    69% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes state2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    63% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes floor-animate {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -350px;
    }
}

@-webkit-keyframes state1 {
    0% {
        opacity: 1;
    }
    32% {
        opacity: 1;
    }
    37% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes state3 {
    0% {
        opacity: 0;
    }
    32% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    63% {
        opacity: 1;
    }
    69% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes state2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    63% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes floor-animate {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -350px;
    }
}

@-moz-keyframes state1 {
    0% {
        opacity: 1;
    }
    32% {
        opacity: 1;
    }
    37% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes state3 {
    0% {
        opacity: 0;
    }
    32% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    63% {
        opacity: 1;
    }
    69% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes state2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    63% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes floor-animate {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -350px;
    }
}

.is-a-logo {
    border-radius: 100px;
    border: #31364C 3px solid;
    margin-left: 10px;
    max-width: 40px;
    max-height: 40px;
    margin-top: 4px;
}

.container-logo{
    border-bottom-color: #dbdbdb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.fixed-position {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.is-background{
    z-index: 3;
}

.post-header {
    border-color: #ff0083;
    padding-left: 1rem;
    border-left: 4px solid #ff0083;
}

.post-content {
    padding-top: 1.8rem;
    font-size: 1.3rem;
    font-weight: 300;
}
